out
default.properties
*.apk
*.class
.DS_Store
bin/*
gen/com/proximalabs/Conventionist/R.java
.settings
res/psd
gen
assets
drawable-ldpi
.idea/
dist/
*.iml
local.properties
secure.properties
proguard-project.txt
bin/
src-work/
products/
extras/design/
Guidebook/build/
ORMGenerator/build/
.gradle/
build/
